html
	head
		title Flowers
		include styles.jade
	body
		h1 #{currentColor} Flowers
		form(action="showColors", method="get")
			select(name='colorDropDown')
				each color in flowerColors
					option(value='#{color}') #{color}
			input(type="submit" name="colorButton" value="Choose color")
		ul
			each flower in flowers
				li
					a(href="/details/#{flower.name}") #{flower.name}
		//Form to add new flower - Name, Color and Wikipedia page. TODO - upload picture.
		#addNewFlower
			h2 Add New Flower
			form(action="addNewFlower", method="post")
				p Name
					input#newFlowerName(name="name" type="text" placeholder="name" required)
				p Color
					input#newFlowerColor(name="color" type="text" placeholder="color" required)
				p Wikipedia Page
					input#newFlowerLink(name="wiki" type="text" placeholder="wikipedia link")
				button#saveNewFlower Save

		p
			a(href="/") Flowers Home Page
