html
	head
		title Flowers
		include styles.jade
	body
		h1 #{currentColor} Flowers
		form(action="showColors", method="get")
			select(name='colorDropDown')
				each color in flowerColors
					option(value='#{color}') #{color}
			input(type="submit" name="colorButton" value="Choose color")
		ul
			each flower in flowers
				li
					a(href="/details/#{flower.name}") #{flower.name}
		a(href="/") Flowers Home Page
