html
	head
		title #{name}
		include styles.jade
	body
		h1 #{name}
		if image
			img(src="/images/#{image}")
		else
			i Sorry, no image for #{name}
		p #{name} is #{color}
		p Visit this flower's Wikipedia page at the following link:
		a(href="#{wiki}") #{wiki}