html
	head
		title #{name}
		include styles.jade
	body
		h1#flowerName #{name}

		if image
			img(src="/images/#{image}")
		else
			i Sorry, no image for #{name}

		p #{name} is &#32;
			span#flowerColor #{color}

		p Visit this flower's Wikipedia page at the following link:
		p
			a(href="#{wiki}") #{wiki}
		p
			a(href="/") Flowers Home Page

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="/javascripts/changeFlowerColor.js")